DOMAIN_NAME=login.42.fr
DATA_FOLDER=XXXXXXXXXXXX

# DB SETUP
DB_NAME=XXXXXXXXXXXX
DB_HOST=XXXXXXXXXXXX
DB_ROOT_PASSWORD=XXXXXXXXXXXX
DB_USER_USERNAME=XXXXXXXXXXXX
DB_USER_PASSWORD=XXXXXXXXXXXX

# WP SETUP
WP_TITLE=XXXXXXXXXXXX
WP_URL=XXXXXXXXXXXX
WP_ADMIN_USER=XXXXXXXXXXXX
WP_ADMIN_PASSWORD=XXXXXXXXXXXX
WP_ADMIN_EMAIL=XXXXXXXXXXXX

# certificates
CERTS_=./XXXXXXXXXXXX
